.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.hyperlogo {
    max-width: 10%;
    height: auto;
    padding-top: 100%;
    padding-bottom: 0%;

}

.w3-image2 {
    max-width: 100%;
    
}

.escolalogos {
    padding-left:92%; 
    position: relative
}